/*###### General Styles #######*/

*{
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body, html{
  max-width: 1024px;
  height: 100%;
  margin-inline: auto;
}

body{
  font-size: 1.6rem;
}

.wrapper{
  border: 0.1rem solid rgba(22, 96, 186, 0.704);
  padding-inline: 1rem;
  background-color: rgb(245, 243, 243);
}

a{
  text-decoration: none;
}

p{
  text-align: justify;
}

/*###### Grid #######*/

.grid{
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 1rem;
  margin-inline: 1rem;
}

/*###### Aside #######*/

aside{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
}

aside img {
  max-width: 100%;
}

aside table caption{
  font-weight: bold;
}

aside table th{
  text-align: left;
  vertical-align: top;
}

aside th, aside td{
  padding: 0.1rem 0.5rem;
}

/*###### Contents #######*/

#contents {
  width: fit-content;
}

#contents h4{
  text-align: center;
}

#contents ol{
  padding-left: 2rem;
}

/*###### Main #######*/

main{
  margin-inline: 1rem;
  padding-bottom: 2rem;
}

/*###### Figures #######*/

.right{
  float: right;
  position: relative;
  top: -3rem;
}

.left{
  float: left;
}

figure.wrapper{
  padding-block: 0.5rem;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
}

/*###### Kits Section #######*/

#kits{
  margin-top: 9rem;
}

#kits table{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border:rgba(22, 96, 186, 0.704) solid;
  text-align: center;
}

#kits table tr, #kits table td, #kits table th{
  border:rgba(22, 96, 186, 0.704) solid 1px;
}

#kits thead th:nth-child(1){
  width: 15%;
}

#kits thead th:nth-child(2){
  width: 25%;
}

#kits thead th:nth-child(3){
  width: 20%;
}

#kits thead th:nth-child(4){
  width: 40%;
}

#kits th, td{
  padding: 1rem;
}

#kits table thead{
  background-color: cornflowerblue;
}

#kits table caption{
  font-weight: bold;
  margin-bottom: 1rem;
}

/*###### References Section #######*/

#references ol{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  list-style-position: inside;
  padding-inline-start: 0;
}

#references ol li{
  font-size: 1rem;
}